.map-height {
  height: 100%;
}

.cambuhy_content {
  font-weight: strong;
}

.cambuhy_item {
  line-height: 2em;
}

.cambuhy_tooltip div.cambuhy_content span.cambuhy_item {
  background-color: cyan;
}
