<div class="row map-height">
    <div class="col-10" #map leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" [leafletMarkerCluster]="markers" [leafletMarkerClusterOptions]="markerClusterOptions"
        (leafletMarkerClusterReady)="markerClusterReady($event)" *ngIf="options.center != null && options.center != undefined">
    </div>
    <div class="col-2" style="height: 100%;" *ngIf="showOptions">
        <div class="row">
            <div class="col-12">
                <p-panel>
                    <p-header>Opções</p-header>
                    <p>Tamanho do ícone</p>
                    <input type="text" pInputText [(ngModel)]="iconSize" style="width:14em" />
                    <p-slider [(ngModel)]="iconSize" [style]="{'width':'14em'}" (onChange)="resize($event)"></p-slider>
                    <p-checkbox label="Centralizar no evento" [(ngModel)]="centerOnEvent" binary="true"></p-checkbox>
                    <button icon="fa-file" type="button" pButton (click)="connectOrigin()" label="Conectar Eventos" *ngIf="!autoConnectOrigin"></button>
                </p-panel>
            </div>
        </div>
    </div>
</div>
<p-fileUpload #fubauto mode="advanced" name="uploadedFile" [url]="fileUploadREST" accept="text/*" chooseLabel="Arquivo" (onUpload)="upload($event)" (onBeforeUpload)="beforeUpload($event)" [showCancelButton]="false"
    [showUploadButton]="false" [auto]="true" [multiple]="true">
    <ng-template pTemplate="content">
        <div class="drag-drop-area">ARRASTE O(S) ARQUIVO(S) AQUI</div>
    </ng-template>
</p-fileUpload>
