.no-flight-reason {
    border: 1px solid #d6d6d6;
    background: #f00;
    color: #fff;
}

.ready-to-launch {
    border: 1px solid #d6d6d6;
    background: #0f0;
    color: #fff;
    text-align: center;
}