<p-table [value]="data | sort:'name'" [paginator]="true" [rows]="50" [pageLinks]="5"
    scrollHeight="600px" [first]="first" [resizableColumns]="true">
    <p-column field="sku" header="#SKU"></p-column>
    <p-column field="name" header="NAME"></p-column>
    <ng-template pTemplate="header">
        <tr>
            <th>#SKU</th>
            <th>NAME</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{data.sku}}</td>
            <td>{{data.name}}</td>
        </tr>
    </ng-template>
</p-table>