<div>{{fulldoc?.name}}</div>
<br>
<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button *ngIf="canSuccess===true" pButton type="button" (click)="success()" icon="fa-check" class="ui-button-success"></button>
        <button pButton type="button" (click)="failure()" icon="fa-close" class="ui-button-danger"></button>
    </div>
</p-toolbar>
<br>
<p-table [value]="lstDi" class="ui-g-12 ui-md-12">
    <ng-template pTemplate="header">
        <tr>
            <th colspan="5">PRODUTOS</th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Produto</th>
            <th>Total</th>
            <th>Lido</th>
            <th>Faltam</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.product.sku}}</td>
            <td>{{item.product.name}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.things?.length}}</td>
            <td>{{item.qty - item.things.length}}</td>
        </tr>
    </ng-template>
</p-table>

<p-table *ngIf="lstFail.length>0" [value]="lstFail" class="ui-g-12 ui-md-12" #tblFail>
    <ng-template pTemplate="header">
        <tr>
            <th>ERROS</th>
        </tr>
        <tr>
            <input pInputText type="text" (input)="tblFail.filter($event.target.value, 'unit', 'contains')">
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.sku}} - {{item.unit}} {{item.errors[0]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-table [value]="lstErr" class="ui-g-12 ui-md-6" #tblErr *ngIf="lstErr.length > 0 && lstErr.length < 100">
    <ng-template pTemplate="header">
        <tr>
            <th>NÃO LIDOS</th>
        </tr>
        <tr>
            <input pInputText type="text" (input)="tblErr.filter($event.target.value, 'unit', 'contains')">
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.sku}} - {{item.unit}}</td>
        </tr>
    </ng-template>
</p-table>

<p-table *ngIf="lstOk.length>0" [value]="lstOk" class="ui-g-12 ui-md-6" #tblOk>
    <ng-template pTemplate="header">
        <tr>
            <th>LIDOS</th>
        </tr>
        <tr>
            <input pInputText type="text" (input)="tblOk.filter($event.target.value, 'unit', 'contains')">
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.sku}} - {{item.unit}}</td>
        </tr>
    </ng-template>
</p-table>