.drag-drop-area {
  width: 100%;
  min-height: 10vh;
  text-align: center;
  padding: 5vh 0 5vh 0;
  border: 5px dashed grey;
  font: 20px grey;
  font-family: Lucida Console;
}

.ui-button {
    width: 100%;
}
