<h2 class="first">Fields</h2>

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" (click)="onBack()" icon="fa-arrow-left" class="ui-button-warning"></button>
        <button pButton type="button" (click)="onSave()" icon="fa-check" class="ui-button-success"></button>
        <button pButton type="button" (click)="onDiscard()" icon="fa-close" class="ui-button-danger"></button>
    </div>
    <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Document" (click)="onDocument()" icon="fa-folder-open" class="ui-button-secundary"></button>
        <button pButton type="button" label="Items" (click)="onItem()" icon="fa-folder-open" class="ui-button-secundary"></button>
        <button pButton type="button" label="Things" (click)="onThing()" icon="fa-folder-open" class="ui-button-secundary"></button>
        <button pButton type="button" label="Fields" (click)="onField()" icon="fa-folder-open" class="ui-button-secundary"></button>
    </div>
</p-toolbar>

<div class="ui-g ui-fluid">
    <div *ngFor="let field of data">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input style="width: 120px" type="text" pInputText [(ngModel)]="field.valor" placeholder={{field.name}}>
            </div>
        </div>
    </div>
</div>